.button,
button {
  color: var(--color-secondary);
  border: 1px solid var(--color-secondary);
  padding: 5px 15px;
  border-radius: 5px;
  text-transform: uppercase;
  transform: scale(1);
  transition: all 200ms ease-in-out;

  &--primary {
    background-color: var(--color-success);
    border: 1px solid var(--color-success);
  }
  
  &--delete {
    background-color: var(--color-danger);
    border: 1px solid var(--color-danger);
  }

  &:active {
    transform: scale(0.8);
  }
}