.main {
  &--notes-preview {
    border-top: 1px solid var(--color-primary-dark);
  }
  
  textarea {
    resize: none;
  }

  .markdown-preview {
    @include sm-down() {
      overflow-x: scroll;
    }
  }

  @include sm-down() {
    margin-top: 45px;
  }
}

.no-active-notes {
  height: 100vh;
  color: var( --color-secondary-hover);
}