.markdown-preview {
  white-space: pre-line;

  p {
    margin: 0;
  }

  pre {
    @include rs('margin-bottom', $ss, 32);
  }
  
  p code, 
  pre {
    border: 1px solid var(--color-primary-dark);
    @include rs('padding', $ss, 30);
    display: inline-block;
    background-color: var(--color-primary-dark);
    border-radius: 5px;
    white-space : pre-wrap;
  }
}