.sidebar {
  overflow-y: scroll;

  @include sm-up() {
    border-right: 1px solid var(--color-primary-dark);
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
  }

  @include sm-down() {
    max-height: 300px;
    
    &--header {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      padding: 20px;
      background-color: var(--color-primary-dark);
      z-index: 10;
    }

    &--body {
      margin-top: 60px;
    }
  }
}