.form {
  display: flex;
  flex-direction: column;

  &--row {
    display: flex;
    flex-direction: column;
    margin: 10px 0px;
    position: relative;
    text-align: left;

    input {
      background-color: transparent;
      border: none;
      border-bottom: 1px solid var(--color-dark-grey);
      color: var(--color-dark-grey);
      padding: 10px 0px;
    }

    input:focus + .text-field-label,
    input:active + .text-field-label {
      top: -12px;
      font-size: 12px;
    }

    input:not(:placeholder-shown) + .text-field-label {
      top: -12px;
      font-size: 12px;
    }
    
    .text-field input::placeholder{
      opacity:0;
    }
    
    .text-field-label {
      position: absolute;
      top: 10px;
      left: 0;
      cursor: text;
      transition: all .5s;
      color: var(--color-dark-grey);
      font-size: 16px;
    }
  }

  button {
    margin: 10px 0px;
    padding: 10px;
  }
}